@import './tailwind.css';
/* Import Tailwind CSS for utility classes */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: none;
  font-family: 'Arial', sans-serif;
  color: #333;
  transition: background 0.5s ease;
  border-radius: 8px;
}

.app-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #1e40af;
  /* Blue color for title */
  margin-bottom: 20px;
}

button {
  background-color: #1e40af;
  /* Tailwind CSS blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #374151;
  /* Darker shade on hover */
}

.error-message {
  color: red;
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list li {
  padding: 10px;
  background-color: #e5e7eb;
  /* Light gray background */
  border-radius: 5px;
  margin-bottom: 10px;
}